{% extends 'myblogapp/myblogbase.html' %}

{% block content %} 

<div class="container-fluid">
         <div class="card">
        <div class="card-header">
            About Me
        </div>
        {% load static %}
       
        <div class="card-body">
          <h5 class="card-title">Let me introduce to a new perspective.</h5>
          <p class="card-text">This blog is designed using django and bootstrap. A simple application to express yourself by wrting down your thoughts.</p>
        </div>
      </div>
      
</div>
{% endblock %}